.wrapper {
  width: 100%;
  background-color: rgb(97, 97, 177);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.wrapper img {
  margin-left: 1rem;
  height: 4rem;

  // position: relative;
  // animation: mymove 2s infinite;
}
@media only screen and (max-width: 420px) {
  .wrapper {
    flex-direction: column;
  }
} ;
